*
!*.yaml
!scenes
!.gitignore
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant_v2.db
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
*.state
.cloud
.uuid
.spotify-token-cache
.HA_VERSION
tts
icloud
deps
