*
!*.yaml
!scenes
!packages
!homebridge
!themes
!esphome/*.yaml
!.gitignore
!README.md
google_calendar.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant_v2.db
hassio_configs.txt
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
*.state
.cloud
.uuid
.spotify-token-cache
.HA_VERSION
.ip_authenticated.yaml
tts
icloud
deps
Admin Project-5cb97eb3dde0.json
/groups
ui-lovelace.yaml
groups.yaml
customize.yaml
zones.yaml
packages/mclighting01.yaml
haaska.txt
/packages/monitor.yaml
/packages/10_lunz.yaml
